

form{
	width: 50%;
	padding: 2rem;
	background-color: gainsboro; 
	margin-left: auto;
	margin-right: auto;
}
.form-group {
	padding-top: 5px;
	padding-bottom:5px;
	width: 100%;
}


label{
	display: block;
}

.form-control {
	width: 100%;
	padding: 10px 10px;
	border-radius: 5px;
	box-shadow: none;
	border: none;
}

.option-label{
	display: inline;
}

select{
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: none;
	border: none;
}

p{
	margin: 0px;
	font-size: 18px;
}

.submit{
	padding: 10px 20px;
	color: white;
	background: orangered;
	box-shadow: none;
	border: none;
	border-radius: 5px;
}


.section1 p{
	background-color: yellow;
	font-size:14px;
	text-decoration: none;
}

.section2>p {
	border-bottom: 2px solid green;
	font-size: 40px;
	font-family: 'segoe UI';
}

.form-control:focus {
	background: lightblue;
	color: navy;
}

ul li: first-child {
	border-top: 1px solid teal;
}
